<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-md">
    <div class="float-left col-sm-4">
      <img class="avatar my-3" src="<%= @avatar %>&s=400" width="200" height="200">
    </div>
    <div class="float-left col-sm-8">
      <div class="clearfix">
        <a href="https://github.com/<%= @nickname %>">
          <h2 class="alt-h1 mb-1"><%= @name_or_nickname %></h2>
        </a>
        <p class="text-gray bio-details">
          <% if @name %>
            <span><%= @nickname %></span>
          <% end %>

          <% if @company %>
            <span><%= @company %></span>
          <% end %>

          <% if @location %>
            <span><%= @location %></span>
          <% end %>

          <% if @homepage %>
            <span><%= @homepage %></span>
          <% end %>
        </p>
        <p class="alt-lead mb-4">
          <%= @bio %>
        </p>

        <% @orgs.each do |org| %>
          <a href="https://github.com/<%= org[:name] %>"><img alt="<%= org[:name] %>" class="avatar-small avatar-link mr-4" src="<%= org[:avatar] %>&s=80" width="40" height="40"></a>
        <% end %>
      </div>
      <% if @user_is_current %>
      <div class="mt-6">
        <% page_url = "https://opensourcefriday.com/users/#{@nickname}" %>
        <h2>What should I do now?</h2>
        <h3 class="alt-h3">Share</h3>
        <p class="text-gray">
          Share
          <% if @prs_and_events.empty? %>
            <% tweet = "Join me contributing to open source on #OpenSourceFriday: https://opensourcefriday.com" %>
            Open Source Friday
          <% else %>
            <% tweet = "Check out my contributions to open source on #OpenSourceFriday: #{page_url}" %>
            your Open Source Friday contributions
          <% end %>
          with others:
        </p>
        <p>
          <a class="alt-h4" href="<%= page_url %>"><%= page_url %></a>
          <p><%= render partial: 'layouts/twitter', locals: { tweet: tweet } %></p>
        </p>

        <%= render 'layouts/calendar' %>

        <%= render 'layouts/mailchimp' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-md py-6 py-3 px-3">
  <h2 class="alt-h2 text-gray col-md-11 mx-auto text-center mb-6">
    <%= @nickname %> has
    <% if @user_exists %>
      joined Open Source Friday!
    <% else %>
      not joined Open Source Friday (yet).
    <% end %>
  </h3>

  <% if @user_exists %>

  <h3 class="alt-lead text-gray col-md-11 mb-5 mx-auto text-center">
  <% if @prs_and_events.empty? %>
    No Friday pull requests or events in the last 3 months.
  <% else %>
    <%= @prs_count %> Friday pull <%= "request".pluralize(@prs_count) %> in the last 3 months<%= " (incomplete list)" if @prs_incomplete %><%= " and <br>#{@events_count} Friday events in their last 1,000 events".html_safe unless @events.empty? %>:
  <% end %>
  </h3>
  <div class="col-md-8 text-gray mx-auto">
    <% @prs_and_events.each do |date, prs_and_events| %>
    <h3 class="alt-h3 mt-2"><%= date.to_formatted_s(:long) %></h3>
    <% prs_and_events.each do |pr_or_event| %>
    <ul class="mb-4">
      <li>
        <a href="https://github.com/<%= pr_or_event[:repo] %>">
          <%= pr_or_event[:repo] %>
        </a>:
        <a href="<%= pr_or_event[:url] %>"><%= pr_or_event[:title] %></a>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
