<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-md">
    <div class="float-left col-sm-4">
      <img class="avatar my-3" src="<%= @avatar %>&s=400" width="200" height="200">
    </div>
    <div class="float-left col-sm-8">
      <div class="clearfix">
        <a href="https://github.com/<%= @nickname %>">
          <h2 class="alt-h1 my-0 py-0 lh-condensed"><%= @name_or_nickname %></h2>
        </a>
        <% if @name %>
        <p class="alt-h2 my-0 py-0 lh-condensed"><%= @nickname %></p>
        <% end %>
        <p class="alt-h3"><%= @bio %></p>
        <p class="alt-lead"><%= @company %></p>
        <p class="alt-lead"><%= @location %></p>
        <p class="alt-lead"><%= @homepage %></p>
        <% @orgs.each do |org| %>
        <a href="https://github.com/<%= org[:name] %>" style="display: block">
          <img alt="<%= org[:name] %>" class="avatar-small avatar-link mr-2" src="<%= org[:avatar] %>&s=80" width="40" height="40">
        </a>
        <% end %>
      </div>
      <div class="mt-3">
      <% if @user_is_current %>
        <%= render 'layouts/calendar' %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-md py-6 py-3 px-3">
  <h3 class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    <%= @nickname %> has
    <% if @user_exists %>
      joined Open Source Fridays!
    <% else %>
      not joined Open Source Fridays (yet).
    <% end %>
  </h3>

  <% if @user_exists %>

  <h3 class="alt-lead text-gray col-md-11 mx-auto text-center my-6">
  <% if @prs.empty? %>
    No pull requests opened on Fridays found in the last year.
  <% else %>
    <%= @prs_count %> pull requests opened on Fridays in the last year<%= " (incomplete list)" if @prs_incomplete %>:
  <% end %>
  </h3>
  <div class="col-md-8 text-gray mx-auto">
    <% @prs.each do |date, prs| %>
    <h3 class="mt-2"><%= date.to_formatted_s(:long) %></h3>
    <% prs.each do |pr| %>
    <ul class="my-1">
      <li>
        <a href="https://github.com/<%= pr[:repo] %>">
          <%= pr[:repo] %>
        </a>:
        <a href="<%= pr[:url] %>"><%= pr[:title] %></a>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>

  <h3 class="alt-lead text-gray col-md-11 mx-auto text-center my-6">
  <% if @events.empty? %>
    No maintainer events made on Fridays found in
    <br>
    <%= @nickname %>'s last 1000 events.
  <% else %>
    <%= @events_count %> maintainer events made on Fridays
    <br>
    found in <%= @nickname %>'s last 1000 events:
  <% end %>
  </h3>
  <div class="col-md-8 text-gray mx-auto">
    <% @events.each do |date, events| %>
    <h3 class="mt-2"><%= date.to_formatted_s(:long) %></h3>
    <% events.each do |event| %>
    <ul class="my-1">
      <li>
        <a href="https://github.com/<%= event[:repo] %>">
          <%= event[:repo] %>
        </a>:
        <a href="<%= event[:url] %>"><%= event[:title] %></a>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>

  <% end %>
</div>
