<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-md">
    <div class="float-left col-sm-4">
      <img class="avatar my-3" src="<%= @avatar %>&s=400" width="200" height="200">
    </div>
    <div class="float-left col-sm-8">
      <div class="clearfix">
        <a href="https://github.com/<%= @nickname %>">
          <h2 class="alt-h1 my-0 py-0 lh-condensed"><%= @name_or_nickname %></h2>
        </a>
        <% if @name %>
        <p class="alt-h2 my-0 py-0 lh-condensed"><%= @nickname %></p>
        <% end %>
        <p class="alt-h3"><%= @bio %></p>
        <p class="alt-lead"><%= @company %></p>
        <p class="alt-lead"><%= @location %></p>
        <p class="alt-lead"><%= @homepage %></p>
        <% @orgs.each do |org| %>
        <a href="https://github.com/<%= org[:name] %>" style="display: block">
          <img alt="<%= org[:name] %>" class="avatar-small avatar-link mr-2" src="<%= org[:avatar] %>&s=80" width="40" height="40">
        </a>
        <% end %>
      </div>
      <% if @user_is_current %>
      <div class="mt-6">
        <h3 class="alt-h3">Share</h3>
        <p class="text-gray">Share your Open Source Friday activity page with others.
        <a class="alt-h4" href="https://opensourcefriday.com/users/<%= @nickname %>">https://opensourcefriday.com/users/<%= @nickname %></a></p>

        <%= render 'layouts/calendar' %>

        <% if @show_newsletter_signup %>
          <h3 class="alt-h3 mt-3">Subscribe to updates</h3>
          <%= form_tag("/subscriptions", method: "POST") do %>
            <%= text_field_tag(:email, @email, placeholder: "Email Address", class: "form-input required email d-block py-2 px-3 mb-2") %>
            <%= submit_tag("Subscribe", class: "btn btn-outline") %>
          <% end %>
        <% end %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-md py-6 py-3 px-3">
  <h3 class="alt-lead text-gray col-md-11 mx-auto text-center mb-6">
    <%= @nickname %> has
    <% if @user_exists %>
      joined Open Source Friday!
    <% else %>
      not joined Open Source Friday (yet).
    <% end %>
  </h3>

  <% if @user_exists %>

  <h3 class="alt-lead text-gray col-md-11 mx-auto text-center">
  <% if @prs_and_events.empty? %>
    No Friday pull requests or events in the last 3 months.
  <% else %>
    <%= @prs_count %> Friday pull <%= "request".pluralize(@prs_count) %> in the last 3 months<%= " (incomplete list)" if @prs_incomplete %><%= " and <br>#{@events_count} Friday events in their last 1,000 events".html_safe unless @events.empty? %>:
  <% end %>
  </h3>
  <div class="col-md-8 text-gray mx-auto">
    <% @prs_and_events.each do |date, prs_and_events| %>
    <h3 class="mt-2"><%= date.to_formatted_s(:long) %></h3>
    <% prs_and_events.each do |pr_or_event| %>
    <ul class="my-1">
      <li>
        <a href="https://github.com/<%= pr_or_event[:repo] %>">
          <%= pr_or_event[:repo] %>
        </a>:
        <a href="<%= pr_or_event[:url] %>"><%= pr_or_event[:title] %></a>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
