<% content_for(:title, @name_or_nickname) %>
<% content_for(:description, "#{@name_or_nickname}'s Friday pull requests and events in the last 3 months.") %>

<div class="bg-gray mb-6 py-6">

  <h3 class="container-lg px-3 text-center alt-h2 mb-6 pt-sm-6">
    <% if @user_is_current %>
      You have joined Open Source Friday!
    <% else %>
      <a href="https://github.com/<%= @nickname %>"><%= @name_or_nickname %></a> has
      <% if @user_exists %>
        joined Open Source Friday!
      <% else %>
        not joined Open Source Friday (yet).
      <% end %>
    <% end %>
  </h3>

  <div class="container-lg px-3 mx-auto d-flex flex-column flex-sm-row flex-items-center flex-justify-between pb-sm-6">
    <div class="col-sm-3 mb-4">
      <img class="avatar rounded-2 img-responsive" src="<%= @avatar %>&s=490">
    </div>

    <div class="col-sm-7">
      <p class="mb-2">
        <% if @name %>
          <span class="d-inline-block mr-3"><%= octicon("mark-github") %> <a href="https://github.com/<%= @nickname %>"><%= @nickname %></a></span>
        <% end %>
      </p>
      <p class="mb-2">
        <% if @company %>
          <span class="d-inline-block mr-3"><%= octicon("organization") %>
            <% if @company.start_with?("@") %>
              <a href="https://github.com/<%= @company.sub("@", "") %>"><%= @company %></a>
            <% else %>
              <%= @company %>
            <% end %>
          </span>
        <% end %>
      </p>
      <p class="mb-2">
        <% if @location %>
          <span class="d-inline-block mr-3"><%= octicon("location") %> <%= @location %></span>
        <% end %>
      </p>
      <p class="mb-2">
        <% if @homepage %>
          <span class="d-inline-block"><%= octicon("external-link") %> <%= @homepage %></span>
        <% end %>
      </p>
      <p class="text-gray mb-2 f5 mb-4">
        <%= @bio %>
      </p>
      <% @orgs.each do |org| %>
        <a href="https://github.com/<%= org[:name] %>"><img alt="<%= org[:name] %>" class="avatar-small avatar-link mr-4 rounded-1" src="<%= org[:avatar] %>&s=80" width="40" height="40"></a>
      <% end %>
    </div>
  </div>
  <% if @user_is_current %>
    <div class="mt-6 border-top container-lg gut-md mx-auto text-center">
      <% page_url = "https://opensourcefriday.com/users/#{@nickname}" %>
      <h2 class="alt-h2 text-center mt-6 mb-4">
        What should I do now?
      </h2>

      <div class="col-md-4 float-md-left">
        <%= octicon 'squirrel', class: 'd-block mb-2 mx-auto', width: 28 %>
        <h3 class="alt-h3 mb-3">
          Make your first contribution
        </h3>
        <p><a href="https://opensource.guide/how-to-contribute/#finding-a-project-to-contribute-to">Find a project</a> to contribute to, or learn <a href="https://opensource.guide/how-to-contribute/#how-to-submit-a-contribution">how to make your first pull request</a>.</p>
      </div>
      <div class="col-md-4 float-md-left">
        <%= octicon 'smiley', class: 'd-block mb-2 mx-auto', height: 28 %>
        <h3 class="alt-h3 mb-3">Tell your friends</h3>
        <p class="text-gray">
          Share
          <% if @prs_and_events.empty? %>
            <% tweet = "I'm contributing to open source on #OpenSourceFriday: https://opensourcefriday.com. Join me!" %>
            Open Source Friday
          <% else %>
            <% tweet = "Check out my contributions to open source on #OpenSourceFriday: #{page_url}" %>
            your Open Source Friday contributions
          <% end %>
          with others <a href="<%= page_url %>">using this URL</a>.
        </p>
        <p><%= render partial: 'layouts/twitter', locals: { tweet: tweet } %></p>
      </div>
      <div class="col-md-4 float-md-left">
        <%= octicon 'calendar', class: 'd-block mb-2 mx-auto', width: 28 %>
        <%= render 'layouts/calendar' %>
      </div>

    </div>
  <% end %>
</div>

<div class="container-lg py-6 py-3 px-3">
  <% if @user_exists %>

  <div class="col-md-8 mb-4 mx-auto">
    <h3 class="alt-h3 mb-5 mx-auto">
    <% if @prs_and_events.empty? %>
      No Friday pull requests or events in the last 3 months.
    <% else %>
      <%= @prs_count %> Friday pull <%= "request".pluralize(@prs_count) %> in the last 3 months<%= "(incomplete list)" if @prs_incomplete %><%= " and #{@events_count} Friday events in <%= @user_is_current ? "your" : "their" %> last 1,000 events".html_safe unless @events.empty? %>:
    <% end %>
    </h3>

    <% @prs_and_events.each do |date, prs_and_events| %>
    <h3 class="h4 pb-2 mb-3 mt-5 border-bottom"><%= date.to_formatted_s(:long) %></h3>
    <% prs_and_events.each do |pr_or_event| %>
    <ul class="ml-3">
      <li class="mb-2">
        <a href="https://github.com/<%= pr_or_event[:repo] %>" class="link-gray">
          <%= pr_or_event[:repo] %>
        </a>:
        <a href="<%= pr_or_event[:url] %>"><%= pr_or_event[:title] %></a>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
