<% content_for(:title, t("business.title")) %>
<% content_for(:description, t("business.description")) %>

<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-lg px-3">
    <div class="d-md-flex flex-wrap flex-items-center">
      <div class="col-9 col-sm-7 col-md-5 mx-auto mb-4 text-center text-md-left">
        <%= image_tag("leadership.svg", class: "img-responsive") %>
      </div>
      <div class="col-md-7 pl-md-6 text-center text-md-left">
        <h1 class="alt-h1 mb-2"><%= yield :title %></h1>
        <p class="alt-lead text-gray mb-md-5"><%= nbsp_last_word(yield(:description)) %></p>
        <% unless current_user %>
          <%= link_to user_github_omniauth_authorize_path, class: "btn btn-large btn-primary", role: "button" do %>
            <% t("Sign up with GitHub") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-lg py-6 py-3 px-3 text-center">
  <h2 class="alt-h2"><%=t "business.reason.title" %></h2>
  <p class="alt-lead text-gray mx-auto text-center mb-6">
  <%=t "business.reason.description" %>
  </p>
</div>
<div class="container-lg clearfix mx-auto gutter-spacious text-center">
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("improve-technology.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "business.reason.technology.title" %></h3>
    <p class="text-gray">
      <%=t "business.reason.technology.description" %>
    </p>
  </div>
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("work-better.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "business.models.title" %></h3>
    <p class="text-gray">
      <%=t "business.models.description" %>
    </p>
  </div>
</div>
<div class="container-lg clearfix mx-auto gutter-spacious text-center pb-6">
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("reduce-overhead.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "business.cost.title" %></h3>
    <p class="text-gray">
      <%=t "business.cost.description" %>
    </p>
  </div>
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("attract-talent.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "business.reputation.title" %></h3>
    <p class="text-gray">
      <%=t "business.reputation.description" %>
    </p>
  </div>
</div>

<div class="border-top py-5 bg-gray-light">
  <div class="py-4 py-md-6 container-lg px-3">
    <h2 class="alt-h2 lh-condensed mb-2 text-center"><%=t "business.plan.title" %></h2>
    <p class="alt-lead text-gray mx-auto text-center mb-md-6 col-md-8"><%=t "business.plan.description" %></p>

    <div class="py-6 px-3 d-flex flex-wrap flex-justify-between gutter-spacious">

      <div class="col-md-8">
        <div class="clearfix mb-4 mb-md-6">
          <div class="float-left mr-4">
            <%= image_tag("set-aside-time.svg", class: "img-responsive mb-3", width: "100px") %>
          </div>
          <div class="overflow-hidden">
            <h3 class="alt-h3 mb-2"><%=t "business.plan.encourage.title" %></h3>
            <p class="text-gray">
              <%=t "business.plan.encourage.description" %>
            </p>
          </div>
        </div>
        <div class="clearfix">
          <div class="float-left mr-4">
            <%= image_tag("make-habit.svg", class: "img-responsive mb-3", width: "100px") %>
          </div>
          <div class="overflow-hidden">
            <h3 class="alt-h3 mb-2"><%=t "business.plan.policy.title" %></h3>
            <p class="text-gray">
            <%=t "business.plan.policy.description" %>
            </p>
          </div>
        </div>
      </div>

      <div class="mx-auto col-md-4 p-4 mt-4 text-center d-md-flex flex-wrap flex-content-center flex-items-center border flex-justify-center bg-white rounded-2 box-shadow">
        <%= render 'layouts/calendar' %>
      </div>

    </div>
  </div>
</div>


<div class="border-top py-5">
  <div class="container-lg px-3">
    <h2 class="alt-h2 mt-6 text-center"><%=t "endorsement.title" %></h2>
    <div class="mt-3 pb-6">
      <div class="d-flex flex-wrap flex-items-stretch gutter">
        <div class="col-md-6">
          <aside class="pquote height-full">
            <img src="https://avatars.githubusercontent.com/caabernathy?s=180" class="pquote-avatar" alt="avatar">
            <%=t "endorsement.Christine_Abernathy.message_html" %>
            <p markdown="1" class="pquote-credit">
            &mdash;<%=t("endorsement.Christine_Abernathy.name_html", url: link_to("@caabernathy", "https://github.com/caabernathy")) %><br>
            <%=t("endorsement.Christine_Abernathy.title_html", company_url: link_to("Facebook", "https://github.com/facebook/")) %>
            </p>
          </aside>
        </div>
        <div class="col-md-6">
          <aside class="pquote height-full">
            <img src="https://avatars.githubusercontent.com/willnorris?s=180" class="pquote-avatar" alt="avatar">
            <%=t "endorsement.Will_Norris.message_html" %>
            <p markdown="1" class="pquote-credit">
            &mdash;<%=t("endorsement.Will_Norris.name_html", url: link_to("@willnorris", "https://github.com/willnorris")) %><br>
            <%=t("endorsement.Will_Norris.title_html", company_url: link_to("Google", "https://github.com/google")) %>
            </p>
          </aside>
        </div>
      </div>
    </div>
    <div class="my-6 d-flex flex-column flex-wrap flex-sm-row flex-justify-center flex-items-center">
      <a href="https://opensource.google.com"><img class="company-logo smaller desaturate" src="<%= image_url("logos/google.png") %>/"></a>
      <a href="https://open.microsoft.com"><img class="company-logo smaller desaturate" src="<%= image_url("logos/microsoft.png") %>/"></a>
      <a href="https://code.facebook.com/projects/"><img class="company-logo smaller desaturate" src="<%= image_url("logos/facebook.png") %>/"></a>
      <a href="https://salesforce.github.io"><img class="company-logo smaller desaturate" src="<%= image_url("logos/salesforce.png") %>/"></a>
      <a href="http://comcast.com"><img class="company-logo smaller desaturate" src="<%= image_url("logos/comcast.png") %>/"></a>
      <a href="https://ibm.github.io"><img class="company-logo smaller desaturate" src="<%= image_url("logos/ibm.png") %>/"></a>
      <a href="https://travis-ci.com"><img class="company-logo smaller desaturate" src="<%= image_url("logos/travisci.png") %>/"></a>
      <a href="https://thoughtbot.com"><img class="company-logo smaller desaturate" src="<%= image_url("logos/thoughtbot.png") %>/"></a>
      <a href="https://github.com/open-source"><img class="company-logo smaller desaturate" src="<%= image_url("logos/github.png") %>/"></a>
    </div>
  </div>
</div>

<div class="py-3 border-top text-center">
  <div class="container-lg">
    <div class="d-flex flex-column flex-sm-row mx-2 my-6 gutter">
      <div class="col-lg-4 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/#participate"><%=t "Contributors" %><%= octicon 'chevron-right', height: '20', class: 'ml-2 v-align-middle' %></a>
        </h2>
        <p class="text-gray f4"><%=t "headline.contributors" %></p>
      </div>

      <div class="col-lg-4 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/maintainers"><%=t "Maintainers" %><%= octicon 'chevron-right', height: '20', class: 'ml-2 v-align-middle' %></a>
        </h2>
        <p class="text-gray f4"><%=t "headline.maintainers" %></p>
      </div>
    </div>
  </div>
</div>
