<header class="jumbotron text-center bg-gray-light mb-6 border-bottom px-3">
  <div class="container-lg position-relative">
    <h1 class="alt-h1 mb-2">Open Source Friday</h1>
    <p class="alt-lead text-gray mb-md-5 col-md-8 mx-auto">Open source is made by people just like you. This Friday, invest a few hours contributing to the software you use and love.</p>
    <% unless current_user %>
      <%= link_to user_github_omniauth_authorize_path, class: "btn btn-large btn-primary", role: "button" do %>
        <%= octicon 'mark-github', height: 18, class: 'mr-2' %> Sign up with GitHub
      <% end %>
    <% end %>
  </div>
</header>

<div class="container-lg py-6 my-2 px-3">
  <h2 class="alt-h2 text-center">Invest in your future</h2>

  <p class="alt-lead text-gray col-md-7 mx-auto text-center mb-6">
    Open source software is built, well, in the open. Sharpen your skills and be part of something big.
  </p>

  <div class="mx-auto col-lg-8 mb-6">
    <%= image_tag("building.svg", class: "img-responsive") %>
  </div>


  <div class="gut-lg d-flex flex-column flex-md-row">
    <div class="col-md-4 mb-4">
      <h3 class="h4 mb-2">Shape the future of&nbsp;software</h3>
      <p class="text-gray">Your contributions help make technology better for everyone.</p>
    </div>

    <div class="col-md-4 mb-4">
      <h3 class="h4 mb-2">Learn from the best in the&nbsp;field</h3>
      <p class="text-gray">Developers of all skill levels participate in open source. Contribute code to projects that run the world.</p>
    </div>

    <div class="col-md-4 mb-4">
      <h3 class="h4 mb-2">Grow your skills and help&nbsp;others</h3>
      <p class="text-gray">Whatever your skill level, working on open source software is a great way to learn new&nbsp;things and meet people with similar interests.</p>
    </div>
  </div>
</div>

<div class="border-top py-6 px-3 bg-gray-light" id="participate">
  <div class="container-md py-6">

    <h2 class="alt-h2 text-center">Contribute on Open Source Friday</h2>

    <% unless current_user %>
      <p class="text-center mt-2">
        <%= link_to user_github_omniauth_authorize_path, class: "btn btn-primary", role: "button" do %>
          <%= octicon 'mark-github', height: 18, class: 'mr-1' %> Sign up with GitHub
        <% end %>
      </p>
    <% end %>

    <div class="d-md-table direction-md-ltr mb-6 py-6 border-bottom">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <a href="https://opensource.guide/how-to-contribute/">
          <%= image_tag("contribute.svg", class: "img-responsive") %>
        </a>
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 direction-md-ltr pl-md-6">
        <h3 class="alt-h3 mb-2">Learn to contribute</h3>

        <p class="text-gray mb-4">
          Learn what it means to contribute, and how to find and get started on a new project.
        </p>

        <p>
          <a class="btn btn-outline" href="https://opensource.guide/how-to-contribute/">
            <%= octicon 'book', height: 18, class: 'mr-1' %>
            Read the guide
          </a>
        </p>

        <p>

        </p>
      </div>
    </div>

    <div class="border-bottom">
      <h3 class="alt-h3 mb-2">Find a project to contribute to</h3>
      <p class="alt-lead f2 text-gray">
        Contributing to open source happens at all levels, across projects and design, documentation, operations and code. You don’t need to overthink what exactly your first contribution will be, or how it will look.
      </p>
      <div class="d-md-flex gut-md my-6">
        <div class="col-md-4 mb-6">
          <h4 class="mb-2">A project you already use</h4>
          <p class="text-gray">Start by thinking about the projects you already use or want to use. The projects you’ll actively contribute to are the ones you find yourself coming back to.</p>
        </div>
        <div class="col-md-4 mb-6">
          <h4 class="mb-2">An issue you can fix</h4>

          <p class="text-gray">Check out these sites to find a project looking for your help:</p>

          <ul class="ml-3">
            <li><a href="https://yourfirstpr.github.io/">Your First PR</a></li>
            <li><a href="http://up-for-grabs.net/">Up For Grabs</a></li>
            <li><a href="https://www.codetriage.com/">CodeTriage</a></li>
          </ul>
        </div>
        <div class="col-md-4 mb-6">
          <h4 class="mb-2">A warm welcome</h4>

          <p>
            Find a project that has a history and reputation for being welcoming to new contributors in
            <a href="https://github.com/showcases/great-for-new-contributors">GitHub's great for new contributors</a> showcase.</p>
        </div>
      </div>
    </div>

    <div class="d-md-table direction-md-ltr my-6 py-6">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <a href="https://opensource.guide/how-to-contribute/">
          <%= image_tag("best-practices.svg", class: "img-responsive") %>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="border-top py-5">
  <div class="container-lg">
    <h2 class="alt-h2 mt-6 text-center">You're in good company</h2>

    <div class="pquote-container container-lg mt-3 mb-6 d-flex flex-justify-between">
      <aside class="pquote">
        <img src="https://avatars1.githubusercontent.com/u/9155255?v=3&s=180" class="pquote-avatar" alt="avatar">
        Contributing to open source not only allows businesses of every size to take advantage and build upon the talents of others, it’s also an avenue for those new to coding to acclimate themselves to the development process in ways that allow them to practice, experiment, and showcase themselves as valuable and contributing members of the community.
        <p markdown="1" class="pquote-credit">
      &mdash; Kim Crayton (<a href="https://github.com/kmcrayton7">@kmcrayton7</a>),<br>Community Engineer, Writer, Founder
        </p>
      </aside>

      <aside class="pquote">
        <img src="https://avatars1.githubusercontent.com/u/133209?v=3&s=180" class="pquote-avatar" alt="avatar">
        I got to where I am today by contributing to open source software, allowing me to not only improve my skills as a software developer but also to increase my network of colleagues and to meet new and interesting friends from extremely diverse cultures. I can highly recommend it.
        <p markdown="1" class="pquote-credit">
      &mdash; Chris Lamb (<a href="https://github.com/lamby">@lamby</a>),<br><a href="https://www.debian.org">Debian Project</a> Leader
        </p>
      </aside>
    </div>
  </div>
</div>

<div class="py-3 border-top text-center">
  <div class="container-lg">
    <div class="clearfix d-flex mx-2 my-6">
      <div class="col-lg-4 col-sm-1 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/businesses">Businesses<%= octicon 'chevron-right', height: '26', class: 'ml-2 text-inherit' %></a>
        </h2>
        <p class="text-gray f4">Your business runs on open source. Learn how to get involved.</p>
      </div>

      <div class="col-lg-4 col-sm-1 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/maintainers">Maintainers<%= octicon 'chevron-right', height: '26', class: 'ml-2 text-inherit' %></a>
        </h2>
        <p class="text-gray f4">Give your project some love to help others contribute where you need it most.</p>
      </div>
    </div>
  </div>
</div>
