<div class="jumbotron text-center bg-gray mb-6 border-bottom px-3">
  <div class="container-md">
    <h1 class="alt-h1 mb-2">
      Build software with <br>help from others
    </h1>
    <p class="alt-lead text-gray mb-md-5 col-md-9 mx-auto">Once a week, give your software project some love and make it easier to others contribute.</p>
    <% unless current_user %>
      <%= link_to user_github_omniauth_authorize_path, class: "btn btn-large btn-primary", role: "button" do %>
        <%= octicon 'mark-github', height: 18, class: 'mr-2' %> Sign up with GitHub
      <% end %>
    <% end %>
  </div>
</div>

<div class="container-md py-6 py-3 px-3 text-center">
  <h2 class="alt-h2">Help people discover your project</h2>
  <p class="alt-lead text-gray col-md-10 mx-auto mb-6">
    Creating a project is only the beginning. Why not spread the word?
  </p>

  <div class="d-flex flex-wrap flex-justify-between">
    <div class="mb-6 col-md-5 mx-auto">
      <img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-future.svg?sn" class="mb-2" alt="" aria-hidden="">
      <h3 class="h4 mb-2">Reduce your workload</h3>
      <p class="text-gray">
        Ensure your project's README file details what your project does, its scope and contribution needs, and how to contribute.
      </p>
    </div>
    <div class="mb-6 col-md-5 mx-auto">
      <img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-grow.svg?sn" class="mb-2" alt="" aria-hidden="">
        <h3 class="h4 mb-2">Promote your work</h3>
        <p class="text-gray">
        Consider creating a Twitter account, blog posts and website for your project.
      </p>
    </div>
  </div>
</div>

<div class="py-6 px-3 text-center border-top border-bottom bg-gray-light">
  <div class="py-6 container-md">
    <h2 class="alt-h2">Grow your community</h2>
    <p class="alt-lead text-gray col-md-10 mx-auto mb-6">
      Everybody was new once. Ease someone else's first-time contribution jitters.
    </p>
    <div class="d-flex flex-wrap flex-justify-between">
      <div class="mb-6 col-md-5 mx-auto">
        <img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-future.svg?sn" class="mb-2" alt="" aria-hidden="">
        <h3 class="h4 mb-2">Document everything</h3>
        <p class="text-gray">
          Ensure your documentation on how to use and contribute to your project is clear.
        </p>
      </div>
      <div class="mb-6 col-md-5 mx-auto">
        <img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-grow.svg?sn" class="mb-2" alt="" aria-hidden="">
          <h3 class="h4 mb-2">Get help</h3>
          <p class="text-gray">
          Look out for promising potential contributors or maintainers to share ownership of your project. Make an effort to welcome first-time contributors in particular.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-md py-6 px-3 text-center">
  <h2 class="alt-h2">Improve your workflow</h2>
  <p class="alt-lead text-gray col-md-10 mx-auto mb-6">
    Learn from other maintainers on how to be more effective.
  </p>
  <div class="d-flex flex-wrap flex-justify-between">
    <div class="mb-6 col-md-5 mx-auto">
      <img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-future.svg?sn" class="mb-2" alt="" aria-hidden="">
      <h3 class="h4 mb-2">Set boundaries</h3>
      <p class="text-gray">
        Decide on what the scope of the project is and set clear boundaries for yourself. Saying no is as important as saying yes.
      </p>
    </div>
    <div class="mb-6 col-md-5 mx-auto">
      <img src="https://assets-cdn.github.com/images/modules/site/icons/opensource-ico-grow.svg?sn" class="mb-2" alt="" aria-hidden="">
        <h3 class="h4 mb-2">Automation</h3>
        <p class="text-gray">
        Automate as much as possible through tests and other checks to save yourself time.
      </p>
    </div>
  </div>
</div>

<% unless current_user %>
<div class="py-6 text-center border-top bg-gray-light">
  <div class="container-md pt-3">
    <h2 class="alt-h2 text-center">Get ready for Open Source Friday</h2>

    <p class="text-gray alt-lead">Spend time now to save time later.</p>

    <%= link_to user_github_omniauth_authorize_path, class: "btn btn-large btn-primary mb-4", role: "button" do %>
      <%= octicon 'mark-github', height: 18, class: 'mr-2' %> Sign up with GitHub
    <% end %>
  </div>
</div>
<% end %>

<div class="border-top py-5">
  <div class="container-lg">
    <h2 class="alt-h2 mt-6 text-center">You're in good company</h2>

    <div class="pquote-container container-lg mt-3 mb-6 d-flex flex-justify-between">
      <aside class="pquote">
        <img src="https://avatars1.githubusercontent.com/u/1162160?v=3&s=100" class="pquote-avatar" alt="avatar">
        The thing that most open source projects lack is not money, but time. Many maintainers have full-time jobs and can't realistically cut back their hours. What almost all projects need is more contributors. Open Source Friday is a perfect way for companies to support the open source ecosystem they depend on in a meaningful way.
        <p markdown="1" class="pquote-credit">
      &mdash; Rich Harris (<a href="https://github.com/Rich-Harris">@Rich-Harris</a>),<br><a href="https://github.com/rollup/rollup">Rollup</a> and <a href="https://github.com/sveltejs/svelte">Svelte</a> maintainer
        </p>
      </aside>

      <aside class="pquote">
        <img src="https://avatars3.githubusercontent.com/u/54418?v=3&s=100" class="pquote-avatar" alt="avatar">
        Once you are a maintainer on a project that others rely on, open source goes from "sharing the code" to "sharing the maintenance". As we all know, "maintenance" takes time which is most effectively spent in a continuous block to help make sure you can finish that e.g. code review before you start to lose context.
        <p markdown="1" class="pquote-credit">
      &mdash; Brett Cannon (<a href="https://github.com/brettcannon">@brettcannon</a>),<br><a href="https://github.com/python/cpython">Python core</a> developer
        </p>
      </aside>
    </div>
  </div>
</div>




<div class="py-3 border-top text-center">
  <div class="container-lg">
    <div class="d-flex flex-column flex-sm-row mx-2 my-6">
      <div class="col-lg-4 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/businesses">Businesses<%= octicon 'chevron-right', height: '26', class: 'ml-2 text-inherit' %></a>
        </h2>
        <p class="text-gray f4">Your business runs on open source. Learn how to get involved.</p>
      </div>
      <div class="col-lg-4 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/#participate">Contributors<%= octicon 'chevron-right', height: '26', class: 'ml-2 text-inherit' %></a>
        </h2>
        <p class="text-gray f4">Your business runs on open source. Learn how to get involved.</p>
      </div>
    </div>
  </div>
</div>
