<% content_for(:title, t("maintainers.title")) %>
<% content_for(:description, t("maintainers.description")) %>

<div class="bg-gray mb-6 border-bottom jumbotron px-3">
  <div class="container-lg px-3">
    <div class="d-md-flex flex-wrap flex-items-center">
      <div class="col-7 col-sm-5 mx-auto mb-4 text-center text-md-left">
        <%= image_tag("best-practices.svg", class: "img-responsive") %>
      </div>
      <div class="col-md-7 pl-md-6 text-center text-md-left">
        <h1 class="alt-h1 mb-2"><%= nbsp_last_word(yield(:title)) %></h1>
        <p class="alt-lead text-gray mb-md-5"><%= nbsp_last_word(yield(:description)) %></p>
        <% unless current_user %>
          <%= link_to user_github_omniauth_authorize_path, class: "btn btn-large btn-primary", role: "button" do %>
            <%=t "Sign up with GitHub" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-lg clearfix mx-auto gutter-spacious py-md-6 text-center">
  <h2 class="alt-h2"><%=t "maintainers.involve.title" %></h2>
  <p class="alt-lead text-gray col-md-8 mx-auto mb-6">
    <%=t "maintainers.involve.description" %>
  </p>
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("reduce-workload.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "maintainers.involve.workload.title" %></h3>
    <p class="text-gray">
    <%=t("maintainers.involve.workload.description_html", url: "https://opensource.guide/best-practices/#leverage-your-community") %>
    </p>
  </div>
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("promote-work.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "maintainers.involve.promote.title" %></h3>
      <p class="text-gray">
      <%=t("maintainers.involve.promote.description_html", url: "https://opensource.guide/finding-users/#help-people-find-and-follow-your-project") %>
    </p>
  </div>
</div>

<div class="py-6 px-3 text-center border-top border-bottom bg-gray-light">
  <div class="container-lg clearfix mx-auto gutter-spacious py-md-6 text-center">
    <h2 class="alt-h2"><%=t "maintainers.growing.title" %></h2>
    <p class="alt-lead text-gray col-md-8 mx-auto mb-6">
      <%=t "maintainers.growing.description" %>
    </p>
    <div class="mb-6 col-md-6 float-md-left">
      <%= image_tag("document-everything.svg", class: "img-responsive mb-3", height: "100px") %>
      <h3 class="alt-h3 mb-2"><%=t "maintainers.growing.document.title" %></h3>
      <p class="text-gray">
      <%= t("maintainers.growing.document.description_html", survey:"http://opensourcesurvey.org/2017/", guide:"https://opensource.guide/best-practices/#documenting-your-processes") %>
      </p>
    </div>
    <div class="mb-6 col-md-6 float-md-left">
      <%= image_tag("get-help.svg", class: "img-responsive mb-3", height: "100px") %>
      <h3 class="alt-h3 mb-2"><%=t "maintainers.growing.help.title" %></h3>
      <p class="text-gray">
        <%=t("maintainers.growing.help.Look_out_html", url:"https://opensource.guide/building-community/#share-ownership-of-your-project") %>
      </p>
    </div>
  </div>
</div>

<div class="container-lg clearfix mx-auto gutter-spacious py-md-6 text-center">
  <h2 class="alt-h2 mt-4"><%=t "maintainers.workflow.title" %></h2>
  <p class="alt-lead text-gray col-md-8 mx-auto mb-6">
    <%=t "maintainers.workflow.description" %>
  </p>
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("set-boundaries.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "maintainers.workflow.boundaries.title" %></h3>
    <p class="text-gray">
    <%=t("maintainers.workflow.boundaries.description_html", pause: "https://opensource.guide/best-practices/#its-okay-to-hit-pause", sayno:"https://opensource.guide/best-practices/#learning-to-say-no") %>
    </p>
  </div>
  <div class="mb-6 col-md-6 float-md-left">
    <%= image_tag("automation.svg", class: "img-responsive mb-3", height: "100px") %>
    <h3 class="alt-h3 mb-2"><%=t "maintainers.workflow.automation.title" %></h3>
    <p class="text-gray">
      <%=t("maintainers.workflow.automation.description_html", url: "https://opensource.guide/best-practices/#bring-in-the-robots") %>
    </p>
  </div>
</div>

<% unless current_user %>
<div class="py-6 text-center border-top bg-gray-light">
  <div class="container-md pt-3">
    <h2 class="alt-h2 text-center"><%=t "maintainers.visitor.title" %></h2>

    <p class="text-gray alt-lead"><%=t "maintainers.visitor.description" %></p>

    <%= link_to user_github_omniauth_authorize_path, class: "btn btn-large btn-primary mb-4", role: "button" do %>
      <%=t "Sign up with GitHub" %>
    <% end %>
  </div>
</div>
<% end %>

<div class="border-top py-5">
  <div class="container-lg">
    <h2 class="alt-h2 mt-6 text-center"><%=t "endorsement.title" %></h2>
    <div class="mt-3 pb-6">
      <div class="d-flex flex-wrap flex-items-stretch gutter">
        <div class="col-md-6">
          <aside class="pquote height-full">
            <img src="https://avatars.githubusercontent.com/Rich-Harris?s=180" class="pquote-avatar" alt="avatar">
            <%=t "endorsement.Rich_Harris.message_html" %>
            <p markdown="1" class="pquote-credit">
            &mdash; <%=t("endorsement.Rich_Harris.name_html", url: link_to("@Rich-Harris", "https://github.com/Rich-Harris")) %><br>
            <%=t("endorsement.Rich_Harris.title_html",
                         project1_url: link_to("Rollup","https://github.com/rollup/rollup"),
                         project2_url: link_to("Svelte", "https://github.com/sveltejs/svelte")) %>
            </p>
          </aside>
        </div>
        <div class="col-md-6">
          <aside class="pquote height-full">
            <img src="https://avatars.githubusercontent.com/brettcannon?s=180" class="pquote-avatar" alt="avatar">
            <%=t "endorsement.Brett_Cannon.message_html" %>
            <p markdown="1" class="pquote-credit">
            &mdash; <%=t("endorsement.Brett_Cannon.name_html", url: link_to("@brettcannon", "https://github.com/brettcannon")) %><br>
            <%=t("endorsement.Brett_Cannon.title_html",
                        project_url: link_to("Python core", "https://github.com/python/cpython")) %>
            </p>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-3 border-top text-center">
  <div class="container-lg">
    <div class="d-flex gutter flex-column flex-sm-row mx-2 my-6">
      <div class="col-lg-4 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/businesses"><%=t "Businesses" %><%= octicon 'chevron-right', height: '20', class: 'ml-2 v-align-middle' %></a>
        </h2>
        <p class="text-gray f4"><%=t "headline.businesses" %></p>
      </div>
      <div class="col-lg-4 mx-auto">
        <h2 class="alt-h3 my-2">
          <a href="/#participate"><%=t "Contributors" %><%= octicon 'chevron-right', height: '20', class: 'ml-2 v-align-middle' %></a>
        </h2>
        <p class="text-gray f4"><%=t "headline.contributors" %></p>
      </div>
    </div>
  </div>
</div>
