<nav class="text-center">
  <% if I18n.locale == :en %>
  <a href="/#participate"><%=t "Contributors" %></a>
  <% else %>
  <a href="/?locale=<%= I18n.locale %>#participate"><%=t "Contributors" %></a>
  <% end %>
  
  <% if request.path == "/businesses" %>
    <span class="ml-4"><%=t "Businesses" %></span>
  <% else %>
    <a class="ml-4" href="/businesses?locale=<%= I18n.locale %>"><%=t "Businesses" %></a>
  <% end %>

  <% if request.path == "/maintainers" %>
    <span class="ml-4"><%=t "Maintainers" %></span>
  <% else %>
    <a class="ml-4" href="/maintainers?locale=<%= I18n.locale %>"><%=t "Maintainers" %></a>
  <% end %>

  <% if current_user %>
    <span class="f5 mx-6 mr-sm-0 ml-sm-4 mt-3 mt-sm-0 d-block d-sm-inline-block border rounded-1">

    <a class="d-inline-block py-2 px-3 border-right link-gray-dark" href="/users/<%= current_user.github_username %>">
      <%= current_user.github_username %>
    </a>

    <%= link_to t("Sign out"), destroy_user_session_path, class: "py-2 px-3" %>

    </span>

  <% else %>
    <%= link_to user_github_omniauth_authorize_path, class: "mx-6 mr-sm-0 ml-sm-4 mt-3 mt-sm-0 d-block d-sm-inline-block btn btn-outline" do %>
      <%=t "Sign up" %>
    <% end %>
  <% end %>
    <form id="locale-form" class="ml-4" action="<%= request.path %>" method="get">
      <select name="locale" class="form-select" onchange="this.form.submit()">
        <% I18n.available_locales.map do |l| %>
          <option value="<%= l %>" <%= "selected" if l == I18n.locale %>>
            <%= language_name(l) %>
          </option>
        <% end %>
      </select>
    </form>
</nav>
