<nav class="float-sm-right text-center">
  <a href="/#participate">Contributors</a>

  <% if request.path == "/businesses" %>
    <span class="ml-4">Businesses</span>
  <% else %>
    <a class="ml-4" href="/businesses">Businesses</a>
  <% end %>

  <% if request.path == "/maintainers" %>
    <span class="ml-4">Maintainers</span>
  <% else %>
    <a class="ml-4" href="/maintainers">Maintainers</a>
  <% end %>

  <% if current_user %>
    <a class="ml-4 text-blue" href="/users/<%= current_user.github_username %>">
      <%= current_user.github_username %>
    </a>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "ml-4 text-green" %>
  <% else %>
    <%= link_to user_github_omniauth_authorize_path, class: "ml-4" do %>
      <%= octicon("mark-github", :class => "mr-1") %>Sign up with GitHub
    <% end %>
  <% end %>
</nav>
