<!DOCTYPE html>
<html>
  <head>
    <title>Ossfriday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render :partial => 'layouts/auth_nav' %>
  </header>
  <body>    
    <%= yield %>
  </body>
</html>
