<!DOCTYPE html>
<html class="container">
  <head>
    <title>OSS Friday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header jumbotron text-center">
    <h1>OSS Friday</h1>
    <h2><%= @subtitle || "Contribute to open source every Friday" %></h2>
    <div><%#= render :partial => 'layouts/auth_nav' %></div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer class="footer">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
  </footer>
</html>
