<!DOCTYPE html>
<html lang="en" class="container">
  <head>
    <title>OSS Friday</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.development? %>
    <script src="https://github.com/Khan/tota11y/releases/download/0.1.3/tota11y.min.js"></script>
    <% end %>
  </head>
  <header class="header jumbotron text-center">
    <h1>OSS Friday</h1>
    <h2><%= @subtitle || "Contribute to open source every Friday" %></h2>
    <div><%#= render :partial => 'layouts/auth_nav' %></div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer class="footer">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/contributors/">Contributors</a></li>
          <li><a href="/maintainers/">Maintainers</a></li>
          <li><a href="/companies/">Companies</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
  </footer>
</html>
