<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <% @site_name = "Open Source Friday" %>
    <% if content_for?(:full_title) %>
      <title><%= yield :full_title %></title>
    <% else %>
      <title><%= yield :title %> | <%= @site_name %></title>
    <% end %>
    <meta name="description" content="<%= yield :description %>">
    <meta property="og:title" content="<%= yield :title %>" />
    <meta property="og:description" content="<%= yield :description %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:site_name" content="<%= @site_name %>">
    <meta property="og:image" content="<%= image_url("social-graphic.jpg") %>">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.development? %>
    <script src="https://github.com/Khan/tota11y/releases/download/0.1.3/tota11y.min.js"></script>
    <% else %>
    <!-- If you don't like analytics: feel free to AdBlock this away! -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3769691-86', 'auto');
      ga('send', 'pageview');
    </script>
    <% end %>
  </head>
  <body class="f4">
    <div class="py-4 border-bottom px-3">
      <div class="container-lg p-responsive">
        <div class="d-md-flex mx-auto flex-justify-between flex-items-center">
          <h1 class="alt-h4 text-center mb-4 mb-md-0">
            <a class="text-inherit" href="/">Open Source Friday</a>
          </h1>

          <%= render 'layouts/nav' %>
        </div>
      </div>

      <% if flash[:error] %>
      <div class="container-md mt-3 alt-h4">
        <div class="flash flash-error flash-with-icon">
          <%= octicon 'alert', class: "mr-1" %>
          Error: <%= flash[:error] %>
        </div>
      </div>
      <% end %>
    </div>

    <%= yield %>

    <div class="bg-gray py-5">
      <footer class="container-lg text-center">
        <div class="mx-auto">
          <div class="height-full p-5">
            <%= render 'layouts/mailchimp' %>
          </div>
        </div>

        <div class="text-gray pb-6 px-3">
          <%= octicon 'code', height: 20, class: "v-align-middle fill-gray mr-1", "aria-label": "code" %>
          with
          <%= octicon 'heart', height: 20, class: "v-align-middle fill-gray mx-1", "aria-label": "love" %>
          by
          <a href="https://github.com" class="text-inherit"><%= octicon "mark-github", height: 20, class: "v-align-middle mx-1", "aria-label": "GitHub" %></a>
          and <a class="text-inherit" href="https://github.com/ossfriday/ossfriday/graphs/contributors">friends</a>
        </div>
      </footer>
    </div>
  </body>
</html>
